<!DOCTYPE html>
<head>
	<title>Bot Controls</title>
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap.min.css')}}"></link>
    <script src="{{url_for('static', filename='bootstrap.min.js')}}"></script>
    <script src="{{url_for('static',filename='jquery.min.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='functions.js') }}"></script>
</head>
<body>
	<div class="container-fluid">
        <div class="row">
            <center>
                <h3>Bot controls</h3>
                <br>
                <br>
                <br>
                    <div style="text-align:center;width:480px;">
                        <button  style="border-radius:30px;width:60px;height:60px;"  id="cc1">Irrigate</button><br><br>
                        <div class="row">
                    </div>
            </center>
        </div>
    </div>
</body>
